<div class="container-fluid p-1 p-sm-2 p-md-3">
    <div class="row justify-content-center align-items-center p-lg-1 p-xl-2">
        <div class="col-12 mt-2 text-center">
            <h2 style="font-weight: bold;">MODIFY MENU</h2>
        </div>
    </div>

    <form [formGroup]="selectMenuForm">
        <div class="row justify-content-center align-items-center mt-4">

            <div class="col-12 col-md-8 mt-4">
                <label for="level" style="font-weight: bold;">Level</label>
                <select class="form-select" formControlName="level" (change)="onChangeLevel()">
                    <option disabled selected [ngValue]="null">Select a level</option>
                    <option [ngValue]="0">0</option>
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="2">2</option>
                </select>
            </div>

            <div class="col-12 col-md-8 mt-4">
                <label for="menuVoice" style="font-weight: bold;">Voice Name</label>
                <select class="form-select" formControlName="menuVoice" (change)="onChangeVoice()">
                    <option disabled selected [ngValue]="null">Select a menu voice</option>
                    <option *ngFor="let voice of menuVoices" [ngValue]="voice">{{voice.name}}</option>
                </select>
            </div>
        </div>
    </form>

    <div *ngIf="selectMenuForm.get('menuVoice')?.value != null" class="row justify-content-center align-items-center mt-4">
        <div class="col-12 col-md-6 mt-2 text-center">
            <h5 style="font-weight: bold;">Associated Page: </h5>
            <span *ngIf="modifyMenuForm.get('pageid')?.value != null">{{modifyMenuForm.get('pageid')?.value}}</span>
            <span *ngIf="modifyMenuForm.get('pageid')?.value == null">No page associated to this voice</span>
        </div>
        <div *ngIf="modifyMenuForm.get('prevVoice')?.value != null" class="col-12 col-md-6 mt-2 text-center">
            <h5 style="font-weight: bold;">Previous Voice: </h5>
            <span>Id: {{modifyMenuForm.get('prevVoice')?.value.id}}, Name: {{modifyMenuForm.get('prevVoice')?.value.name}}</span>
        </div>
        <div *ngIf="modifyMenuForm.get('subVoices')?.value != null" class="col-12 mt-4 text-center">
            <h5 style="font-weight: bold;">Subsequent Pages: </h5><br>
            <div *ngFor="let page of modifyMenuForm.get('subVoices')?.value">Id: {{page.id}}, Name: {{page.name}}</div>
        </div>
    </div>

            <!-- <div class="col-12 col-md-8 mt-4">
                <label for="level" style="font-weight: bold;">Level</label>
                <select class="form-select" aria-label="select example" formControlName="level">
                    <option [ngValue]="null" disabled selected>Select a level</option>
                    <option *ngFor="let level of levels" [ngValue]="level">
                        {{level}}
                    </option>
                </select>
            </div>

            <div *ngIf="addMenuForm.get('level')?.value !== 0 && addMenuForm.get('level')?.value !== null" class="col-12 col-md-8 mt-4">
                <label for="levelzero_id" style="font-weight: bold;">Level Zero</label>
                <select class="form-select" aria-label="select example" formControlName="levelzero_id">
                    <option [ngValue]="null" disabled selected>Select the level zero</option>
                    <option *ngFor="let level of levelsZero" [ngValue]="level.id">
                        {{level.name}}
                    </option>
                </select>
            </div>

            <div *ngIf="addMenuForm.get('level')?.value === 2 && addMenuForm.get('levelzero_id')?.value !== null" class="col-12 col-md-8 mt-4">
                <label for="levelone_id" style="font-weight: bold;">LEVEL ONE</label>
                <select class="form-select" aria-label="select example" formControlName="levelone_id">
                    <option [ngValue]="null" disabled selected>Select the level one</option>
                    <option *ngFor="let level of levelsOne" [ngValue]="level.id">
                        {{level.name}}
                    </option>
                </select>
            </div> -->


    <!-- <div class="col-12 mt-4 text-center">
        <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">
            Submit
        </button>
    </div> -->
</div>