<div class="container-fluid p-1 p-sm-2 p-md-3">
    <div class="row justify-content-center align-items-center p-lg-1 p-xl-2">
        <div class="col-12 mt-4 text-center">
            <h2 style="font-weight: bold;">MENU</h2>
        </div>
        <div class="col-12 col-sm-6 mt-4 text-center" (click)="goTo('authorizations/pages')">
            <button class="btn btn-outline-dark" type="button">Pages Authorizations</button>
        </div>
        <div class="col-12 col-sm-6 mt-4 text-center" (click)="goTo('authorizations/functionalities')">
            <button class="btn btn-outline-dark" type="button">Functionalities Authorizations</button>
        </div>
    </div>
</div>